<!doctype html>
<html lang="en" ng-app="PromptApp"  ng-controller="PromptCtrl">
<head>
    <meta charset="utf-8">
    <title >{{ appName }} | {{ appDescription }}</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-cloak>
<div class="container well" >
    <div class="row">
        <div class="span11 text-center">

            <div class="page-header">
                <h1>{{ appName }}</h1>
                <small>{{ appDescription }}</small>

            </div>

        </div>

        <div class="span7 offset2 text-center">

        <form class="form-horizontal">
            <div class="control-group" ng-show="!form.customText">
                <label class="control-label" for="inputType">Choose Element</label>
                <div class="controls">

                    <select name='inputType' ng-model="form.element">
                        <option ng-repeat="(key, val) in variables" value="{{key}}">{{val[1]}}</option>
                    </select>
                </div>
            </div>
            <div class="control-group" ng-show="!form.element" >
                <label class="control-label" for="inputType">Custom Text</label>
                <div class="controls">
                    <input type='text' ng-model="form.customText" trim="false">

                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputColor">Color</label>
                <div class="controls">

                    <select name='inputColor' ng-model="form.color">
                        <option ng-repeat="(key, val) in colors" value="{{key}}" >{{key|beautify}}</option>
                    </select>
                </div>
            </div>

        <a href="" class="btn btn-primary" ng-click="addElement(form)">Push Element</a>
        <a href="" class="btn btn-primary" ng-click="removeElement(form)">Remove Last Element</a>

        </form>
        <div>TODO
            <p>tests</p>
         </div>


    </div>

    <div class="row">
        <div class="span11 offset1 text-center">
            <code selectclick><span ng-repeat='p in prompt'><span >{{colors[p.color]}}{{p.customText}}{{variables[p.element][0]}}</span></span>{{restorePrompt}}</code>
            <br />
            <div id="promptPreview">
                <span ng-repeat='p in prompt'><span ng-class='p.color'>{{variables[p.element][2]}}{{p.customText}}</span></span>
            </div>
        </div>
    </div>
    <br /><br /><br />
    <div class="row">
        <div class="span11 text-center">
                <hr />
                <a href="#instructionsModal" role="button" class="btn btn-link" data-toggle="modal">Instructions</a>
                <a href="#examplesModal" role="button" class="btn btn-link" data-toggle="modal">Examples</a>
                <p>{{appName}} v{{appVersion}} developed by <a href="http://www.twitter.com/{{ author }}/">{{ author }}</a>.</p>
                <p>Check the source code and open issues at <a href="https://github.com/aesptux/prompt-generator">GitHub</a></p>

        </div>
    </div>
</div>


<!-- Instructions -->
<div id="instructionsModal" class="modal hide fade" role="dialog" aria-labelledby="instructionsModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="instructionsModal">Instructions</h3>
  </div>
  <div class="modal-body">
    <p>This tool is very basic and easy to use, but just to clarify:</p>
    <p>You have some predefined variables to use, or you can enter a custom text.
        By custom text I mean everything, @, :, [], {}, whatever you want to include.</p>
    <p>For example, if you want to show your username, working directory, or anything
        <i>variable in your system</i> you should use the predefined items.</p>
    <p>When you add an element, the form will be emptied to enter the next one.
        Also, you can watch a more or less accurate preview of your future prompt and
        the code you will need to copy to your $PS1 when finished.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- Examples -->
<div id="examplesModal" class="modal hide fade" role="dialog" aria-labelledby="examplesModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="examplesModal">Examples</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>



<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
-->
<script src="lib/angular/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="lib/angular-ui.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>
